[Unit]
Description=TST Weather UI Service
After=network.target

[Service]
ExecStart=/usr/bin/script.sh
Restart=always
User=root
WorkingDirectory=/opt/tst_weather_ui/bin/

[Install]
WantedBy=multi-user.target
